html{ height:100%; }

body {
  background: #636363; /* Old browsers */
  background-image: url(bg.png);
  background-repeat: repeat-x;
  background-position: 0% 0%;
  min-height: 100%;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

#header {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding-left: 15px;
  font-weight: 300;
  color: white;
  font-size: 30px;
  line-height: 80px;
  background: -moz-linear-gradient(top, #2f2e34 0%, #1e1d23 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f2e34), color-stop(100%,#1e1d23)); /* Chrome,Safari4+ */
  display: none;
}

#header .welcome { font-style: italic; }
#header .space-name { font-weight: 600; }
#header .reely { color: #ffa632; font-weight: 600; }
#header .active { color: #50b8f4; font-weight: 600; }
#header .smart-space { font-style: italic; font-weight: 700; }

#title {
  position: absolute;
  z-index: 9;
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  top: 90px;
  left: 15px;
  font-weight: 300;
  color: white;
  opacity: 0.8;
  display: none;
}

#loading {
  position: absolute;
  z-index: 9;
  display: block;
  font-size: 60px;
  line-height: 60px;
  top: 40%;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  color: white;
  opacity: 0.3;
}

#footer {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding-left: 15px;
  font-size: 30px;
  line-height: 80px;
  color: #676767;
  font-weight: 300;
  font-style: italic;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #dbdbdb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
  display: none;
}

#footer .url {
  color: black;
  font-style: normal;
  font-weight: 400;
}

.faded {
  opacity: 0.5;
}

.person {
  z-index: 10;
  position: absolute;
  text-align: center;
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(dummy-avatar.png);
}

.big {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 30px;
}

.medium {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 20px;
}

.small {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 15px;
}

.smaller {
  width: 130px;
  height: 130px;
  border-radius: 130px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 13px;
}

.tiny {
  width: 110px;
  height: 110px;
  border-radius: 110px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 11px;
}

.tinier {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 9px;
}

.puny {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 8px;
}

.person.hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.label {
  color: white;
  position: relative;
  float: center;
}

.label .name {
  font-weight: 600;
}

.label .company {
  font-weight: 300;
}

.big .label { top: 335px; font-size: 24px; line-height: 24px; }
.big .label .company { font-size: 20px; }

.medium .label { top: 225px; font-size: 20px; line-height: 20px; }
.medium .label .company { font-size: 16px; }

.small .label { top: 170px; font-size: 16px; line-height: 16px; }
.small .label .company { font-size: 14px; }

.smaller .label { top: 148px; font-size: 16px; line-height: 16px; }
.smaller .label .company { font-size: 14px; }

.tiny .label { top: 125px; font-size: 14px; line-height: 14px; }
.tiny .label .company { font-size: 12px; }

.tinier .label { top: 104px; font-size: 14px; line-height: 14px; }
.tinier .label .company { font-size: 12px; }

.puny .label { top: 85px; font-size: 12px; line-height: 12px; }
.puny .label .company { font-size: 10px; }

.dummy {
  display: none;
}

.icon {
  display: none;
  position: absolute;
}

.icon:hover {
  box-shadow: none;
}

.twitter-icon {
  background-image: url(twitter.png);
  background-size: 100%;
}

.twitter-icon:hover, .twitter-icon.active {
  background-image: url(twitter-hover.png);
}

.linkedin-icon {
  background-image: url(linkedin.png);
  background-size: 100%;
}

.linkedin-icon:hover, .linkedin-icon.active {
  background-image: url(linkedin-hover.png);
}

.icon:hover {
  cursor: pointer;
}

#overlay {
  position: fixed;
  display: block;
  width: 300px;
  background-color: white;
  z-index: 1000;
  opacity: 0.8;
  display: none;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

#arrow {
  width: 0; 
	height: 0;
	position: fixed;
	top: 300px;
	left: 500px;
	z-index: 1000;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	opacity: 0.8;
	display: none;
}

#overlay .loading {
  font-size: 24px;
  font-style: italic;
  margin: 15px;
}


#overlay .header {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 10px;
  padding-bottom: 0;
  line-height: 18px;
  display: none;
}

#overlay .header .name {
  font-weight: 600;
  font-style: normal;
  display: inline;
}

.twitter .bio {
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  padding: 10px;
  padding-bottom: 0px;
  font-weight: 400;
  font-style: italic;
}

.dummy-tweet, .dummy-job {
  display: none;
}

.tweet {
  border-radius: 10px;
  background-color: #e0e0e0;
  margin: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
  padding: 5px;
  padding-bottom: 0;
  font-weight: 600;
}

.twitter {
  display: none;
}

.tweet a {
  font-style: italic;
  color: black;
  font-weight: 700;
}

.twitter .bio a {
  font-weight: 600;
  color: black;
}

.tweet a.timestamp {
  text-align: right;
  font-size: 12px;
  line-height: 18px;
  margin-top: 3px;
  font-weight: 400;
  font-style: italic;
  display: block;
  color: black;
  color: #4d4d4d;
}

.tweet a.timestamp:hover {
  color: black;
}

.linkedin .section {
  padding: 10px;
  padding-bottom: 0;
  font-size: 14px;
  display: none;
}

.linkedin .section > .heading {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 6px;
  text-transform: lowercase;
  display: none;
}

.linkedin .title, .linkedin .company {
  font-weight: 600;
}

.linkedin .job {
  margin-bottom: 6px;
}

.linkedin .job .heading {
  line-height: 15px;
}

.linkedin .job .description {
  font-size: 12px;
  line-height: 14px;
  margin-top: 4px;
}

.linkedin .degree {
  line-height: 14px;
  margin-bottom: 6px;
}

.linkedin .degree .type {
  font-weight: 600;
}

.linkedin .degree .school {
  margin-top: 3px;
  font-style: italic;
}

#overlay a {
  text-decoration: none;
}

#overlay a:hover {
  text-decoration: underline;
}

#company-link {
  width: 100%;
  text-align: center;
  display: none;
}

#company-logo {
  max-width: 280px;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.new-window {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: -5px;
  right: -4px;
  background-image: url(new-window.png);
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
  opacity: 0.7;
}

#overlay .header:hover .new-window {
  opacity: 1.0;
}

a#permalink {
  color: black;
}